.env

venv
.venv

# Ignora diretórios de cache do Python
__pycache__/
*.py[cod]
*$py.class

./repositories
repositories

./data
/data/

# Dados do Postgres (volume do docker compose)
pgdata/

app/output/*

prompts/template_debug.txt
